:root {
    --font-scale: 2;
}

@font-face {
    font-family: "CustomFont";	
    src: url("assets/vt323.ttf");
}

* {
    font-family: "CustomFont";
    text-align: center;
    font-size: calc(var(--font-scale)*1vw);
    user-select: none;
}

input[type=checkbox] {
    transform: scale(calc(var(--font-scale)/1.5));
}

.Centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#Container {
    width: 90%;
    height: 90%;
    z-index: -1;
}

#Container * {
    justify-content: center;
    align-content: center;
}

.Card, #Move, #Calculate {
    border-radius: 10px;
}

.Card:hover {
    transform: scale(1.1);
}

#Calculate, #Switch, #Switch *, #Clear, #Reference * {
    font-size: calc(var(--font-scale)*4/5*1vw);
    padding-bottom: 5px;
    text-align: left;
    width: fit-content;
    height: fit-content;
}

#Calculate:hover, #Clear:hover {
    color: white;
}

#Reference {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: right;
}